@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    /*border: 1px solid red;*/
    background-color: #1e1e1e;
}

nav {
    overflow: hidden;
    width: 100%;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
}

.menu li {
    float: left;
}

.menu li button {
    display: block;
    font-size: 20px;
    text-align: center;
    padding: 30px 20px;
    border: none;
    color: #f9f9f9;
}

.menu li button:hover {
    background-color: #333;

}

hr {
    border-color: black;
}

.main {
    overflow: hidden;
    margin: 0% 10%;
}

.main header {
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
}

.main header h1 {
    font-weight: 370;
    font-size: 40px;
    color: #ffe537;
}

.legend {
    display: flex;
    margin-bottom: 5px;
}

.legend h4 {
    color: #f9f9f9;
    text-align: center;
}

.rank_legend {
    padding-left: 7px;
    text-align: left;
}

.title_legend {
    flex-grow: 1;
    margin-left: 10px;
}

.score_legend {
    text-align: right;
    margin-left: 10px;
    padding-right: 7px;
}

.anime_container {
    display: flex;
    overflow: hidden;
    border: 1px solid #333;
    border-radius: 9px;
    margin-bottom: 10px;
}

.rank {
    align-content: center;
    width: 96px;
    color: #537fe7;
    margin-left: 10px;
    margin-right: 10px;
    min-width:96px;
}

.rank h1 {
    font-size: 60px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.title {
    display: flex;
    align-content: center;
    padding: 7px 7px;
    flex-grow: 1;
}

.title img {
    margin-right: 24px;
    height: 134px;
    width: 103px;
    border-radius: 5px;
    min-width:103px;
}

.title li {
    list-style-type: none;
}

.title h3 {
    font-size: 25px;
    color: #f9f9f9;
}
.title h4 {
    font-weight: normal;
    color: #b6b6b6;
}

.score {
    align-content: center;
    margin-left: 10px;
    width: 150px;
}

.score h1 {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #537fe7;
}

@media (max-width: 1000px) {
    .rank {
        display: none;
    }
    .rank_legend {
        display: none;
    }
    .title_legend {
        margin-left: 0;
        padding-left: 7px;
        flex-grow: 0;
    }
    .legend {
        justify-content: space-between;
    }
    .main {
        margin: 0% 5%;
    }
}