<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top Airing Anime and Manga</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><button onclick="switchPage('TA')">Top Anime Ranking</button></li>
                <li><button onclick="switchPage('TM')">Top Manga Ranking</button></li>
                <li><button onclick="switchPage('TAA')">Top Airing Anime Ranking</button></li>
                <li><button onclick="switchPage('TAM')">Top Airing Manga Ranking</button></li>
            </ul>
            <hr>
        </nav>
    </header>
    <section class="main">
        <header>
            <h1 class="title">Top Airing Anime</h1>
        </header>
        <div class="ranking">
            <div class="legend">
                <h4 class="rank_legend">Rank</h4>
                <h4 class="title_legend">Title</h4>
                <h4 class="score_legend">Score</h4>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>