<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top Airing Anime and Manga</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navigation Section -->
    <header>
        <nav>
            <ul class="menu">
                <li><button onclick="switchPage('TA')">Top Anime Ranking</button></li>
                <li><button onclick="switchPage('TM')">Top Manga Ranking</button></li>
                <li><button onclick="switchPage('TAA')">Top Airing Anime Ranking</button></li>
                <li><button onclick="switchPage('TAM')">Top Airing Manga Ranking</button></li>
            </ul>
            <hr>
        </nav>
    </header>
    <!-- List Section -->
    <section class="main">
        <header>
            <h1 class="title">Top Airing Anime</h1>
        </header>
        <div class="ranking">
            <div class="legend">
                <h4 class="rank_header">Rank</h4>
                <h4 class="title_header">Title</h4>
                <h4 class="score_header">Score</h4>
            </div>
        </div>
    </section>
    <!-- Modal Section -->
    <div class="modal_anime" id="modal_anime">
        <div class="modal_content">
            <iframe id="modal_video" src=""></iframe>
            <!-- Todo add name roughly above the info section-->
            <div class="modal_info">
                <div>
                    <h4 id="modal_score"></h4>
                    <h4 id="modal_ep"></h4>
                </div>
                <div>
                    <h4 id="modal_genre"></h4>
                    <h4 id="modal_timeline"></h4>
                </div>
            </div>
            <p id="modal_synopsis"></p>
        </div>
    </div>
{#    <div class="modal_manga" id="modal_manga">#}
{#        <div class="modal-content">#}
{#            <img>#}
{#            <div class="modal_info">#}
{#                <h1 class="title"></h1>#}
{#                <div class="info">#}
{#                    <div class="top_info">#}
{#                        <h2></h2>#}
{#                        <br>#}
{#                        <h2></h2>#}
{#                    </div>#}
{#                    <div class="bottom_info">#}
{#                        <h2></h2>#}
{#                        <br>#}
{#                        <h2></h2>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <p></p>#}
{#    </div>#}
    <div id="overlay"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>